.transaction-history {
    width: 640px;
    margin: 30px auto 30px auto;
}




th {
    font-weight: 400;
    color: #ffffff;
    padding: 10px 15px;
    background-color: rgb(68, 183, 228);
    text-align: center;
}

td {
    color: rgb(64, 61, 75);
    padding: 10px 15px;
}

tr:nth-child(2n) {
    background: #bdccd6;
}